:root {
    --base-color: #eeebe2;
    --accent1-color: #336c6d;
    --accent2-color: #8e9379;
    --accent2-color-pale: #8e937940;
    --accent3-color: #4891c1;
    --accent3-color-pale: #4891c140;
    --debug-color: #e39cb9;
    --text-bg-white: #f6f6f6;
}

body {
    background-color: var(--base-color);
    color: var(--accent1-color);
    margin: 0;
}

/* header */
#body_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    top: 0px;
    left: 0px;
    height: auto;
    padding: 10px 20px 0px 20px;

    background-color: var(--base-color);
    border-bottom: solid 2px var(--accent2-color);
}

#body_header #body_title {
    margin: 0;
    font-weight: normal;
    font-size: 22px;
}

#body_title_menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

#body_body {
    margin: 30px 10px 50px 10px;
}

.text_right {
    text-align: right;
}


/* button */
.btn_submit {
    height: 40px;
    width: 90px;
    background-color: var(--accent3-color-pale);
    box-shadow: 1px 2px 0 var(--accent3-color);
    border: 0;
    border-radius: 10px;
    color: var(--accent1-color);
    cursor: pointer;
    transition: 0.2s all;
}
.btn_submit_admin {
    background-color: var(--accent2-color-pale);
    box-shadow: 1px 2px 0 var(--accent2-color);
}
.btn_submit:hover {
    box-shadow: none;
    transform: translate(1px, 2px);
}
.btn_submit:active {
    box-shadow: none;
    transform: translate(2px, 3px);
}
.btn_submit_admin svg {
    vertical-align: middle;
    opacity: 0.6;
}
.btn_small {
    height: 25px;
    width: 5rem;
    font-size: 0.7rem;
}


/* booksとmaintenanceで共通 */
.book_details_table {
    background-color: var(--accent2-color-pale);
    border-spacing: 5px;
    border-radius: 6px;
    margin-bottom: 3px;
}
.book_details_table td {
    background-color: var(--text-bg-white);
    padding: 5px 15px;
    border-radius: 4px;
}
.book_detail_header {
    font-size: 0.8rem;
    width: 70px;
    text-align: right;
}


/* histroies(booksとmembersで共通) */
#borrowed_his table, #div_noted table{
    margin: 10px;
    border-spacing: 2px;
}
#borrowed_his th, #div_noted th{
    background-color: var(--text-bg-white);
    font-weight: normal;
}
#borrowed_his th, #borrowed_his td,
#div_noted th, #div_noted td
{
    padding: 2px 10px;
    border: 1px solid var(--accent2-color-pale);
}
#borrowed_his a,
#div_noted a
{
    color: var(--accent1-color);
    transition: opacity 0.3s ease;
    text-decoration: none;
}
#borrowed_his a:hover,
#div_noted a:hover{
    opacity: 0.5;
}
#borrowed_his a:active,
#div_noted a:active{
    opacity: 0.1;
}


/* comment & histories (booksとmembersで共通) */
.contents_title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    background-color: var(--accent2-color-pale);
    padding: 5px;
    border-radius: 6px;
    font-size: 0.8rem;
}
.contents_title svg {
    fill: var(--accent1-color);
    transition: opacity 0.3s ease;
    height: 15px;
}
.contents_title svg:hover {
    opacity: 0.5;
}
.contents_title svg:active {
    opacity: 0.5;
}