:root {
    --base-color: #eeebe2;
    --accent1-color: #336c6d;
    --accent2-color: #8e9379;
    --accent2-color-pale: #8e937940;
    --accent3-color: #4891c1;
    --accent3-color-pale: #4891c140;
    --debug-color: #e39cb9;
}

body {
    background-color: var(--base-color);
    color: var(--accent1-color);
    margin: 0;
}

/* header */
#body_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    top: 0px;
    left: 0px;
    height: auto;
    padding: 10px 20px 0px 20px;

    background-color: var(--base-color);
    border-bottom: solid 2px var(--accent2-color);
}

#body_header h1 {
    margin: 0;
    font-weight: normal;
}

#body_title_menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}


/* main menu */
#contents_menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 7px;
    padding-left: 10px;
    margin: 0px;
    list-style: none;
    font-size: 0.95rem;
    flex-wrap: wrap;
}

.menu_tab {
    background-color: var(--accent3-color-pale);
    padding: 10px 20px 5px 20px;
    border-radius: 7px 7px 0 0;
}
.admin_menu_tab {
    background-color: var(--accent2-color-pale);
}

.menu_tab a, .menu_tab a:visited {
    color: var(--accent1-color);
    transition: opacity 0.2s ease;
    text-decoration: none;
}
.menu_tab a:hover {
    opacity: 0.5;
}
.menu_tab a:active {
    opacity: 0.1;
}
.menu_tab svg {
    vertical-align: middle;
    opacity: 0.6;
}


/* self submenu */
#self_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#self_menu svg {
    fill: var(--accent1-color);
}

#self_submenu_myname {
    font-size: 0.95rem;
    text-align: center;
}
#self_submenu_myname a,
#self_submenu_myname a:visited {
    color: var(--accent1-color);
    transition: opacity 0.3s ease;
    text-decoration: none;
}
#self_submenu_myname a:hover {
    opacity: 0.5;
}
#self_submenu_myname a:active {
    opacity: 0.1;
}
#self_submenu_myname svg {
    vertical-align: middle;
}
#self_submenu_logout {
    font-size: 0.8rem;
    opacity: 0.7;
}


/* breadcrumbs */
#breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 0.9rem;
    margin: 14px 0;
}
@media screen and (max-width:480px) {
    #breadcrumbs ol {
        margin: 10px 0;
    }
}

#breadcrumbs li:not(:last-of-type)::after {
    content: "›";
    margin: 0 5px;
    color: #999;
}


/* else */
#body_header_debug {
    display: none;
    background-color: var(--debug-color);
}
