/* main menu */
#contents_menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 7px;
    padding-left: 10px;
    margin: 0px;
    list-style: none;
    font-size: 0.95rem;
    flex-wrap: wrap;
}

.menu_tab {
    background-color: var(--accent3-color-pale);
    margin-top: 10px;
    padding: 10px 20px 5px 20px;
    border-radius: 7px 7px 0 0;
}
.admin_menu_tab {
    background-color: var(--accent2-color-pale);
}

.menu_tab {
    color: var(--accent1-color);
    transition: 0.3s;
    text-decoration: none;
}
.menu_tab:hover {
    margin-top: 6px;
    padding-bottom: 9px;
}
.menu_tab svg {
    vertical-align: middle;
    opacity: 0.6;
}


/* self submenu */
#self_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.user_mark {
    font-size: 0.95rem;
    text-align: left;
}
.user_mark svg {
    vertical-align: middle;
    fill: var(--accent1-color);
}
#self_submenu_logout {
    font-size: 0.8rem;
    opacity: 0.7;
}


/* breadcrumbs */
#breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 0.8rem;
    margin: 14px 0;
    padding-inline-start: 20px;
}
@media screen and (max-width:480px) {
    #breadcrumbs ol {
        margin: 10px 0;
    }
}

#breadcrumbs li:not(:last-of-type)::after {
    content: "›";
    margin: 0 5px;
    color: #999;
}

#breadcrumbs a, #breadcrumbs a:visited {
    color: #999;
    text-decoration: none;
}

#breadcrumbs a:hover {
    text-decoration: underline;
}


/* else */
#body_header_debug {
    display: none;
    background-color: var(--debug-color);
}
