:root {
    --base-color: #eeebe2;
    --accent1-color: #336c6d;
    --accent2-color: #8e9379;
    --accent2-color-pale: #8e937940;
    --accent3-color: #4891c1;
    --accent3-color-pale: #4891c140;
    --debug-color: #e39cb9;
    --text-bg-white: #f6f6f6;
}

body {
    background-color: var(--base-color);
    color: var(--accent1-color);
    margin: 0;
}

/* header */
#body_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    top: 0px;
    left: 0px;
    height: auto;
    padding: 10px 20px 0px 20px;

    background-color: var(--base-color);
    border-bottom: solid 2px var(--accent2-color);
}

#body_header #body_title {
    margin: 0;
    font-weight: normal;
    font-size: 22px;
}

#body_title_menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

#body_body {
    margin: 30px 10px 10px 10px;
}

.text_right {
    text-align: right;
}

/* booksとmaintenanceで共通 */
.book_details_table {
    background-color: var(--accent2-color-pale);
    border-spacing: 5px;
    border-radius: 6px;
    margin-bottom: 3px;
}
.book_details_table td {
    background-color: var(--text-bg-white);
    padding: 5px 15px;
    border-radius: 4px;
}
.book_detail_header {
    font-size: 0.8rem;
    width: 70px;
    text-align: right;
}

