/* books.css */

#book_main   {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
    margin-right: 20px;
}
#container_top {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
@media screen and (max-width: 600px) {
    #container_top {
        min-width: 200px;
        flex-wrap: wrap;
    }
    .book_contents:nth-child(1) {
        order: 1;
        width: calc(50% - 20px);
    }
    .book_contents:nth-child(2) {
        order: 3;
    }
    .book_contents:nth-child(3) {
        order: 2;
        width: calc(50% - 20px);
    }
}
#container_bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* image */
#content_book_img img {
    width: 188px;
}
@media screen and (max-width: 600px) {
    #content_book_img img {
        width: initial;
    }
}


/* details */
#book_details {
    width: 100%;
}
#book_details #book_name {
    font-size: 28px;
}
#borrowing_num {
    margin-left: 5px;
    font-size: 0.7em;
}


/* buttons */
#content_buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}


/* comment */
.one_comment {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#div_note_regist_form {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#div_note_regist_form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
}
#div_note_regist_form textarea {
    width: 50%;
    min-width: 200px;
    height: 3em;
    border-width: 1px;
    border-color: var(--accent2-color);
    border-radius: 5px;
}

.comment_area {
    display: flex;
    flex-direction: column;
}
.member_name_comment_dt {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;

    font-size: 0.8em;
}
.one_comment > svg {
    fill: var(--accent1-color);
}
.comment_str {
    background-color: var(--text-bg-white);
    position: relative;
    border: 2px solid var(--accent2-color-pale);
    border-radius: 0 30px 30px 30px;
    padding: 15px 30px;
}


