body {
    background-color: #f3f3e0;
    margin: 0;
}

#body_header {
    background-color: #bbb985;
    position: relative;
    width: 100%;
    height: auto;
}
#body_header h1 {
    margin: 0;
}