:root {
    --one-box-width: 200px;
    --book_image_height: 200px;
}
@media screen and (max-width: 600px) {
    :root {
        --one-box-width: 120px;
        --book_image_height: 150px;
    }
}

/* 検索formを設置するため、共通部品の幅を上書きする */
#breadcrumbs ol {
    margin-bottom: 0px;
}
#body_body {
    margin-top: 0px;
}


/* 検索form */
#main_search {
    text-align: right;
}


/* 一覧 */
#main_books {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
    flex-wrap: wrap;
}

.one_book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    margin: 20px 0 0 0;
    width: var(--one-box-width);
}

.book_image {
    display: flex;
    width: 100%;
    height: calc(var(--book_image_height) + 10px);
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(180deg, var(--base-color) 70%, var(--accent2-color-pale) 100%);
}
@media screen and (max-width: 600px) {
    .book_image {
        background: none;
    }
}
.book_image img {
    max-height: var(--book_image_height);
}

.book_title {
    text-align: center;
    height: 40px;
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    margin: 0 10px;
    padding: 5px 10px 10px 10px;
    background-color: var(--text-bg-white);
    border-radius: 10px;
}
@media screen and (max-width: 600px) {
    .book_title {
        margin: 0;
        padding: 3px 3px 8px 3px;
    }
}

.book_title a, .book_title a:visited {
    color: var(--accent3-color);
    text-decoration: none;
}
.book_title a, .book_title a:visited {
    color: var(--accent3-color);
    text-decoration: none;
    transition: opacity 0.3s ease;
}
.book_title a:hover {
    opacity: 0.5;
}
.book_title a:active {
    opacity: 0.1;
}
