
#organization, #members {
    margin-left: 30px;
    margin-right: 20px;
}

/* organization */
#organization {
    margin-bottom: 20px;
}
#org_name {
    font-size: 1.2em;
}
#org_id {
    font-size: 0.8em;
    color: var(--accent2-color);
}

/* members */

/* commands */
#div_commands {
    margin: 20px 20px 0 40px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 0px;
}
/* 通常のタブ */
.lbl_tab_command {
    background-color: var(--accent2-color-pale);
    opacity: 0.5;
    padding: 5px 20px 0px 20px;
    margin: 0px 3px;
    border-radius: 7px 7px 0 0;
    font-size: 0.95rem;
    text-align: center;
    display: block;
    order: -1;
}
.lbl_tab_command:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.rdo_member_command {
    display: none;
}
/* 選択されているタブ */
.rdo_member_command:checked + .lbl_tab_command {
    opacity: 1.0;
}
.div_command_content {
    display: none;
    width: 100%;
}
.rdo_member_command:checked + .lbl_tab_command + .div_command_content {
    display: block;
}

#div_commands input, #div_commands textarea, #div_commands select {
    border-radius: 5px;
    border: solid 1px var(--accent2-color);
    padding: 5px 7px;
}
#div_commands input:read-only, #div_commands textarea:read-only {
    background-color: var(--text-bg-white);
    border-color: var(--accent2-color-pale);
}
