
#organization, #members {
    margin-left: 30px;
    margin-right: 20px;
}

/* organization */
#organization {
    margin-bottom: 20px;
}
#org_name {
    font-size: 1.2em;
}
#org_id {
    font-size: 0.8em;
    color: var(--accent2-color);
}

