{#- baseテンプレート #}
{# エラーメッセージ表示用のマクロ -#}
{%- macro render_error(field) %}
    {#- <dt>{{ field.label }}</dt>
    <dd>{{ field(**kwargs) | safe }}</dd> -#}
    {% if field.errors|length > 0 %}
    <ul class=errors>
        {% for error in field.errors %}
        <li class="error">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endmacro -%}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title_header %}{% endblock %}{% block title %}{% endblock %} - {% block org_name %}うち{% endblock %}の図書館</title>
        <script src="{{ url_for('static', filename='js/lib/jquery-3.6.4.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
        {% block header_append %}{% endblock %}
    </head>
    <body>
        {% block body_header %}
        <div id="body_header">
            <div id="body_title_menu">
                <span id="body_title">うちの図書館</span>
            </div>
        </div>
        {% endblock %}
        {% block body %}{% endblock -%}
    </body>
</html>

