{# ログインした後のテンプレート #}
{% extends "base.html" %}


{% block title -%}internal{%- endblock %}


{% block org_name %}{{ organization.org_name }}{% endblock %}


{% block body_header %}
<p>org_id:{{ organization.org_id }} / org_name:{{ organization.org_name }}</p>
<p>member_id:{{ member.member_id }} / member_name:{{ member.member_name }}</p>
<p><a href="{{ url_for('main') }}">/</a></p>
<p><a href="{{ url_for('book') }}">book</a></p>
<hr />
{% if member.is_admin -%}
<p><a href="{{ url_for('maintenance') }}">maintenance</a></p>
<p><a href="{{ url_for('member') }}">member</a></p>
<p><a href="{{ url_for('genre') }}">genre</a></p>
<hr />
{% endif -%}
<p><a href="{{ url_for('logout') }}">logout</a></p>
<hr />
{% endblock %}

{% block body -%}
internal
{% endblock -%}
