{% extends "base_internal_admin.html" %}

{% block title -%}
genre
{% endblock -%}

{% block header_append -%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/genre.css') }}"></link>
<script src="{{ url_for('static', filename='js/genre.js') }}"></script>
{% endblock -%}

{# 再帰的にジャンルを表示 #}
{% macro create_genre_li(cur_genre, is_top=True) -%}
{% if is_top -%}
    <ul>
{% endif -%}
        <li>
            {{ cur_genre.genre.genre_name }}({{ cur_genre.genre.genre_id }})
{% if cur_genre.children|length > 0 -%}
            <ul>
    {% for g in cur_genre.children -%}
                {{ create_genre_li(g, False) -}}
    {% endfor -%}
            </ul>
{% endif -%}
        </li>
{% if is_top -%}
    </ul>
{% endif -%}
{% endmacro -%}

{# 再帰的にリストを作成 #}
{% macro create_genre_opt(cur_genre) -%}
        <option value="{{ cur_genre.genre.genre_id }}">{{ cur_genre.genre.genre_name }}</option>
    {% for g in cur_genre.children -%}
        {{ create_genre_opt(g) -}}
    {% endfor -%}
{% endmacro -%}


{# tbl_genreのtrを作成する #}
{% macro show_genre_trs(cur_genre, depth=0) -%}
<tr>
    <th genre_id="{{ cur_genre.genre.genre_id }}">
        <input type="radio" name="rdo_genre_select"
            id="rdo_genre_{{ cur_genre.genre.genre_id }}"
            genre_id="{{ cur_genre.genre.genre_id }}" genre_name="{{ cur_genre.genre.genre_name }}"
            parent_genre_id="{{ cur_genre.genre.parent_genre_id }}" />
    </th>
    <td style="padding-left:{{ 15 + depth * 35 }}px" genre_id="{{ cur_genre.genre.genre_id }}">
        {{- cur_genre.genre.genre_name -}}
    </td>
    <td class="text_center">
        {{ genre_book_num[cur_genre.genre.genre_id] }}
    </td>
    {% if debug -%}
    <td genre_id="{{ cur_genre.genre.genre_id }}">
        {{ cur_genre.genre.sort_key }}
    </td>
    {% endif -%}
</tr>
    {% for g in cur_genre.children -%}
        {{ show_genre_trs(g, depth+1) -}}
    {% endfor -%}
{% endmacro -%}

{% block body -%}
<div id="genre_mastermaintenance">
    <div id="div_genre_list">
        {# ジャンル一覧テーブル -#}
        <table id="tbl_genre" class="tbl_type1">
            <tr>
                <th />
                <th>ジャンル</th>
                <th>本の数</th>
                {% if debug -%}
                <th>sort_key</th>
                {% endif -%}
            </tr>
            {{ show_genre_trs(genres) }}
        </table>

        {# 並び順変更ボタン -#}
        <div id="div_genre_sort_pos_chagne">
            <form method="POST" id="frm_edit_order" name="frm_edit_order">
                {{ edit_order_form.csrf_token }}
                {{ edit_order_form.edit_order_genre_id }}
                {{ edit_order_form.edit_order_delta }}
                {{ edit_order_form.method }}
                <button id="btn_genre_sort_up" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="50px">
                        <use xlink:href="#sort-up-solid"></use>
                    </svg>
                </button>
                <button id="btn_genre_sort_down" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="50px">
                        <use xlink:href="#sort-down-solid"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    
    {# ジャンル変更コマンド -#}
    <div id="div_commands">
        <input type="radio" name="rdo_genre_command" id="rdo_add_genre"
            class="rdo_genre_command" checked />
        <label class="lbl_tab_command" for="rdo_add_genre">新規</label>
        <div id="div_add_genre" class="div_command_content">
            <form method="POST" name="frm_regist">
                {{ regist_form.csrf_token }}
                <table class="tbl_type2">
                    <tr>
                        <th>親ジャンル</th>
                        <td><input type="text" id="txt_regist_parent_genre" readonly /></td>
                    </tr>
                    <tr>
                        <th>ジャンル名</th>
                        <td>{{ regist_form.reg_genre_name }}</td>
                    </tr>
                </table>
                {{ regist_form.reg_parent_genre_id }}
                {{ regist_form.method }}
                <button type="submit" class="btn_submit">追加</button>
            </form>
        </div>

        <input type="radio" name="rdo_genre_command" id="rdo_edit_genre"
            class="rdo_genre_command" />
        <label class="lbl_tab_command" for="rdo_edit_genre">変更</label>
        <div id="div_edit_genre" class="div_command_content">
            <form method="POST" name="frm_edit">
                {{ edit_form.csrf_token }}
                <table class="tbl_type2">
                    <tr>
                        <th>親ジャンル</th>
                        <td>
                            <select id="sel_edit_parent_genre_id">
                                {{ create_genre_opt(genres) }}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>ジャンル名</th>
                        <td>{{ edit_form.edit_genre_name }}</td>
                    </tr>
                </table>
                {{ edit_form.edit_genre_id }}
                {{ edit_form.edit_parent_genre_id }}
                {{ edit_form.edit_sort_key }}
                {{ edit_form.method }}
                <button type="submit" class="btn_submit">変更</button>
            </form>
        </div>

        <input type="radio" name="rdo_genre_command" id="rdo_delete_genre"
            class="rdo_genre_command" />
        <label class="lbl_tab_command" for="rdo_delete_genre">削除</label>
        <div id="div_delete_genre" class="div_command_content">
            <form method="POST" name="frm_del">
                {{ delete_form.csrf_token }}
                <table class="tbl_type2">
                    <tr>
                        <th>ジャンル名</th>
                        <td><input type="text" id="txt_delete_genre_id" readonly /></td>
                    </tr>
                </table>
                {{ delete_form.del_genre_id }}
                {{ delete_form.method }}
                <button type="submit" class="btn_submit">変更</button>
            </form>
        </div>
    </div>
</div>

<script language="JavaScript">
    make_breadcrumbs(
        [
            ["ジャンルマスタメンテ","{{ url_for('genre') }}"]
        ]
    );
</script>

{# ------------------------------------------------------------------- #}
<hr />
<h1>ジャンルマスタメンテ！</h1>

<h2>登録済みジャンル</h2>
{{ create_genre_li(genres) -}}
<h2>登録</h2>
<form method="POST">
    {{ regist_form.csrf_token }}
    <p>parent_genre_id: <select id="parent_genre_id" name="parent_genre_id">
        {{ create_genre_opt(genres) -}}
    </select></p>
    <p>genre_name: {{ regist_form.genre_name }}</p>
    <p><button type="submit">ジャンルの登録</button></p>
</form>

{% endblock -%}
