{% extends "base_internal.html" %}

{% block title -%}
genre
{% endblock -%}

{% block header_append -%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/genre.css') }}"></link>
<script src="{{ url_for('static', filename='js/genre.js') }}"></script>
{% endblock -%}

{# 再帰的にジャンルを表示 #}
{% macro create_genre_li(cur_genre, is_top=True) -%}
{% if is_top -%}
    <ul>
{% endif -%}
        <li>
            {{ cur_genre.genre.genre_name }}({{ cur_genre.genre.genre_id }})
{% if cur_genre.children|length > 0 -%}
            <ul>
    {% for g in cur_genre.children -%}
                {{ create_genre_li(g, False) -}}
    {% endfor -%}
            </ul>
{% endif -%}
        </li>
{% if is_top -%}
    </ul>
{% endif -%}
{% endmacro -%}

{# 再帰的にリストを作成 #}
{% macro create_genre_opt(cur_genre) -%}
        <option value="{{ cur_genre.genre.genre_id }}">{{ cur_genre.genre.genre_name }}</option>
    {% for g in cur_genre.children -%}
        {{ create_genre_opt(g) -}}
    {% endfor -%}
{% endmacro -%}


{# tbl_genreのtrを作成する #}
{% macro show_genre_trs(cur_genre, depth=0) -%}
<tr genre_id="{{ cur_genre.genre.genre_id }}">
    <td style="padding-left:{{ 15 + depth * 35 }}px">
        <a href="{{ url_for('main', gn=cur_genre.genre.genre_id) }}" class="a_type1">
            {{- cur_genre.genre.genre_name -}}
        </a>
    </td>
    <td class="text_center">
        {{ genre_book_num[cur_genre.genre.genre_id] }}
    </td>
    {% if debug -%}
    <td>
        {{ cur_genre.genre.sort_key }}
    </td>
    {% endif -%}
</tr>
    {% for g in cur_genre.children -%}
        {{ show_genre_trs(g, depth+1) -}}
    {% endfor -%}
{% endmacro -%}


{% block body -%}
<div id="genre_mastermaintenance">
    <div id="div_genre_list">
        {# ジャンル一覧テーブル -#}
        <table id="tbl_genre" class="tbl_type1">
            <tr>
                <th>ジャンル</th>
                <th>本の数</th>
                {% if debug -%}
                <th>sort_key</th>
                {% endif -%}
            </tr>
            {{ show_genre_trs(genres) }}
        </table>
    </div>
</div>

<script language="JavaScript">
    make_breadcrumbs(
        [
            ["ジャンル","{{ url_for('genre') }}"]
        ]
    );
    
    var main_page_url = "{{ url_for('main') }}";
</script>
{% endblock -%}
