{% extends "base_internal_admin.html" %}

{% block title -%}
genre
{% endblock -%}

{% block header_append -%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/genre.css') }}"></link>
{% endblock -%}

{# 再帰的にジャンルを表示 #}
{% macro disp_genre(cur_genre, is_top=True) -%}
{% if is_top -%}
<ul>
{% endif -%}
    <ol>{{ cur_genre.genre.genre_name }}({{ cur_genre.genre.genre_id }})</ol>
{% if cur_genre.children|length > 0 -%}
    <ol><ul>
    {% for g in cur_genre.children -%}
        {{ dis_genre(g, False) -}}
    {% endfor -%}
    </ul></ol>
{% endif -%}
{% if is_top -%}
</ul>
{% endif -%}
{% endmacro -%}

{% block body -%}
<h1>ジャンルマスタメンテ！</h1>

<h2>登録済みジャンル</h2>
{{ disp_genre(genres) -}}
<h2>登録</h2>


{% endblock -%}
