{% extends "base.html" %}

{% block title -%}
ログイン
{%- endblock %}

{% block body -%}
<form id="my-login-form" method="POST">
    {{ form.csrf_token }}
    <p><label for="org_id">組織ID</label></p>
    {{ form.org_id }}
    <p><label for="member_code">ユーザーID</label></p>
    {{ form.member_code }}
    <p><label for="password">パスワード</label></p>
    {{ form.password }}
    <p><button type="submit">ログイン</button></p>
</form>

{% if message -%}
<p>{{ message }}</p>
{% endif -%}
{% endblock -%}
