{% extends "base_internal_admin.html" %}

{% block title -%}
maintenance
{%- endblock %}

{% block header_append -%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/maintenance.css') }}"></link>
<script src="{{ url_for('static', filename='js/maintenance.js') }}"></script>
{% endblock -%}


{% block body -%}
maintenance
<h1>本の登録</h1>
<form method="POST">
    {{ render_error(form.isbn) }}
    {{ form.csrf_token }}
    <p>
        <label for="isbn">isbn: </label>{{ form.isbn(placeholder="ISBNコード(10桁 or 13桁)") }}
        <button type="button" id="search_book">検索</button>
        <span id="spnSearchISBNMessage"></span>
    </p>
    <p>book_name: <input type="text" id="book_name" name="book_name" /></p>
    <p>image:
        <span id="spnImageThumbnail" style="display:None" >
            <img id="img_thumbnail" /><br />
        </span>
    </p>
    <p>image_url: <input type="text" id="image_url" name="image_url" />
    <p>author:<br />
        {% for i in range(10) %}
        <input type="text" id="author{{ i }}" name="author{{ i }}" /><br />
        {% endfor %}
    </p>
    <p>num_of_authors: <input type="text" id="num_of_authors" name="num_of_authors" /></p>
    <p>publisher_code: <input type="text" id="publisher_code" name="publisher_code" /></p>
    <p>publisher_name: <input type="text" id="publisher_name" name="publisher_name" /></p>
    <p>comment: <input type="text" id="comment" name="comment" /></p>
    <p>genres:<br />
        <select id="sel_genre">
        {% for g in genres -%}
            <option value="{{ g.genre_id }}">{{ g.genre_name }}</option>
        {% endfor -%}
        </select>
        <button type="button" id="btn_add_genre">add genre →</button>
        <input type="text" id="genres" name="genres" /></p>
    <p>num_of_same_books: <input type="text" id="num_of_same_books" name="num_of_same_books" value="1" /></p>
    <p>org_id: <input type="text" id="org_id" name="org_id" value="{{ organization.org_id }}" /></p>
    <p>added_dt: <input type="date" id="added_dt" name="added_dt" value="{{ now.strftime('%Y-%m-%d') }}" /></p>
    <p><button type="submit">本の登録</button></p>
</form>

{% endblock -%}
