{% extends "base_internal_admin.html" %}

{% block title -%}
maintenance
{%- endblock %}

{% block header_append -%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/maintenance.css') }}"></link>
<script src="{{ url_for('static', filename='js/maintenance.js') }}"></script>
{% endblock -%}


{% block body -%}
<form method="POST" action="{{ url_for('maintenance') }}" id="regist_book">
<table class="book_details_table">
<tr>
    <td class="book_detail_header">ISBN</td>
    <td id="td_isbn_search">
        {{ form.isbn }}
        <button id="btn_search_book" type="button" class="btn_submit btn_small">検索</button>
    </td>
</tr>
</table>

<div id="details_and_buttons">
    {% set items = [
        {'header_title': 'タイトル', 'id': 'book_name', 'type': 'text', 'readonly': 1},
        {'header_title': '画像', 'id': 'image_url', 'type': 'img', 'readonly': 1 },
        {'header_title': '概要<br />original', 'id': 'description_original', 'type': 'hidden', 'readonly': 1},
        {'header_title': '概要', 'id': 'description', 'type': 'area'},
        {'header_title': '出版者CD', 'id': 'publisher_code', 'type': 'text', 'readonly': 1},
        {'header_title': '出版者', 'id': 'publisher_name', 'type': 'text', 'readonly': 1},
        {'header_title': '出版日', 'id': 'published_dt', 'type': 'date', 'readonly': 1},
        {'header_title': 'ページ数', 'id': 'page_count', 'type': 'text', 'class': 'text_right', 'readonly': 1},
        {'header_title': 'サイズ-高さ', 'id': 'dimensions_height', 'type': 'text', 'class': 'text_right', 'readonly': 1},
        {'header_title': 'サイズ-幅', 'id': 'dimensions_width', 'type': 'text', 'class': 'text_right', 'readonly': 1},
        {'header_title': 'サイズ-厚さ', 'id': 'dimensions_thickness', 'type': 'text', 'class': 'text_right', 'readonly': 1},
        {'header_title': 'システム<br />登録日', 'id': 'added_dt', 'type': 'date', 'value': 'now', 'readonly': 1},
        {'header_title': '所有数', 'id': 'num_of_same_books', 'type': 'text', 'class': 'text_right'},
    ] -%}
    <table id="tbl_detail" class="book_details_table">
    {% for item in items -%}
    {% if item.readonly == 1 %}{% set readonly = 'readonly' %}{% else %}{% set readonly = '' %}{% endif %}
    <tr{% if (item.type=='hidden') %} style="display:none;"{% endif %}>
        <td class="book_detail_header">{{ item.header_title|safe }}</td>
        <td>
            {% if (item.type=='text') -%}
                <input type="text" id="{{ item.id }}" name="{{ item.id }}"
                {%- if ('class' in item) %} class="{{ item.class }}"{% endif -%} {{ readonly }} />
            {% elif (item.type=='date') -%}
                <input type="date" id="{{ item.id }}" name="{{ item.id }}" {{ readonly }} />
            {% elif (item.type=='area') or (item.type=='hidden') -%}
                <textarea id="{{ item.id }}" name="{{ item.id }}" {{ readonly }}></textarea>
            {% elif (item.type=='img') -%}
                <img id="{{ item.id }}" name="{{ item.id }}" />
            {% endif -%}
        </td>
    </tr>
    {% endfor -%}
    <tr class="book_detail_header">
        <td>ジャンル</td>
        <td>ジャンル・・・</td>
    </tr>
    </table>
    <div id="buttons">
        {{ form.csrf_token }}
        <button type="button" class="btn_submit">
        {# book_infoがあると更新で、ないと新規 #}
        {%- if book_info -%}
            更新
        {%- else -%}
            登録
        {%- endif -%}
        </button>
    </div>
</div>
</form>

<script language="JavaScript">
    {% if book_info -%}
    {# book_infoがあったら、一覧から #}
    let bc =[
        [
            "蔵書一覧",
            "{{ url_for('main') }}"
        ],
        [
            "{{ book_info['book'].book_name }}",
            "{{ url_for('books', book_id=book_info['book'].book_id) }}"
        ],
        [
            "メンテナンス",
            "{{ url_for('maintenance', book_id=book_info['book'].book_id) }}"
        ]
    ];
    {% else -%}
    {# book_infoがなかったら、メンテから #}
    let bc = [["本の追加","{{ url_for('maintenance') }}"]];
    {% endif -%}

    make_breadcrumbs(bc);
</script>

{#
<!-- ------------------------------------------------------------------------ -->

<!--
<hr />
<hr />
<hr />
maintenance
<h1>本の登録</h1>
<form method="POST">
    {{ render_error(form.isbn) }}
    {{ form.csrf_token }}
    <p>
        <label for="isbn">isbn: </label>{{ form.isbn(placeholder="ISBNコード(10桁 or 13桁)") }}
        <button type="button" id="search_book">検索</button>
        <span id="spnSearchISBNMessage"></span>
    </p>
    <p>book_name: <input type="text" id="book_name" name="book_name" /></p>
    <p>image:
        <span id="spnImageThumbnail" style="display:None" >
            <img id="img_thumbnail" /><br />
        </span>
    </p>
    <p>image_url: <input type="text" id="image_url" name="image_url" />
    <p>author:<br />
        {% for i in range(10) %}
        <input type="text" id="author{{ i }}" name="author{{ i }}" /><br />
        {% endfor %}
    </p>
    <p>num_of_authors: <input type="text" id="num_of_authors" name="num_of_authors" /></p>
    <p>publisher_code: <input type="text" id="publisher_code" name="publisher_code" /></p>
    <p>publisher_name: <input type="text" id="publisher_name" name="publisher_name" /></p>
    <p>published_dt: <input type="text" id="published_dt" name="published_dt" /></p>
    <p>original_description: <textarea id="original_description" name="original_description" readonly></textarea></p>
    <p>description: <textarea id="description" name="description"></textarea></p>
    <p>page_count: <input type="text" id="page_count" name="page_count" /></p>
    <p>dimensions_height: <input type="text" id="dimensions_height" name="dimensions_height" /></p>
    <p>dimensions_width: <input type="text" id="dimensions_width" name="dimensions_width" /></p>
    <p>dimensions_thickness: <input type="text" id="dimensions_thickness" name="dimensions_thickness" /></p>
    <p>genres:<br />
        <select id="sel_genre">
        {% for g in genres -%}
            <option value="{{ g.genre_id }}">{{ g.genre_name }}</option>
        {% endfor -%}
        </select>
        <button type="button" id="btn_add_genre">add genre →</button>
        <input type="text" id="genres" name="genres" /></p>
    <p>num_of_same_books: <input type="text" id="num_of_same_books" name="num_of_same_books" value="1" /></p>
    <p>org_id: <input type="text" id="org_id" name="org_id" value="{{ organization.org_id }}" /></p>
    <p>added_dt: <input type="date" id="added_dt" name="added_dt" value="{{ now.strftime('%Y-%m-%d') }}" /></p>
    <p><button type="submit">本の登録</button></p>
</form>
-->
#}
{% endblock -%}
