{% extends "base_internal.html" %}

{% block title -%}
蔵書一覧
{%- endblock %}

{% block header_append %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{%- endblock %}

{% block body -%}
<div id="main_search">
    <form method="GET" name="frm_search" id="frm_search">
        <input type="text" name="ss" id="ss" />
        <button type="submit" id="btn_search">検索</button>
    </form>
</div>
<div id="main_books">
{% for b in books -%}
<div class="one_book">
    <div class="book_image">
        <a href="{{ url_for('books', book_id=b.book_id) }}">
            <img src="{{ b.image_url }}" />
        </a>
    </div>
    <div class="book_title">
        <a href="{{ url_for('books', book_id=b.book_id) }}">
            {{ b.book_name }}
        </a>
    </div>
    </a>
</div>
{% endfor -%}
</div>
<script language="JavaScript">
    let bc_list = [
        ["蔵書一覧","{{ url_for('main') }}"]
        {% if search_cond_str is not none %}
            {% if search_str %}
        ,["{{ search_cond_str }}", "{{ url_for('main', ss=search_str) }}"]
            {% elif genre_id is not none %}
        ,["{{ search_cond_str }}", "{{ url_for('main', gn=genre_id) }}"]
            {% elif author_id is not none %}
        ,["{{ search_cond_str }}", "{{ url_for('main', au=author_id) }}"]
            {% elif publisher_id is not none %}
        ,["{{ search_cond_str }}", "{{ url_for('main', pb=publisher_id) }}"]
            {% endif %}
        {% endif %}
    ];
    make_breadcrumbs(bc_list);
</script>
{% endblock -%}
