{% extends "base_internal.html" %}

{% block title -%}
member
{% endblock -%}

{% block header_append -%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/members_all.css') }}" />
<script src="{{ url_for('static', filename='js/members_all.js') }}"></script>
{% endblock -%}

{% block body -%}
{# ------ organization ---------------------- -#}
<div id="organization">
    <span id="org_name">{{ organization.org_name }}</span>{# -#}
</div>

{# ------ organization ---------------------- -#}
<div id="members">
    <table id="tbl_members" class="tbl_type1">
        <tr>
            <th>名前</th>
            <th>管理者</th>
        </tr>
        {% for m in members -%}
        {% if m.is_enabled -%}{# この画面では、enabledのメンバーだけを表示 #}
        <tr member_id="{{ m.member_id }}">
            <td>
                <a href="{{ url_for('members', member_id=m.member_id) }}" class="a_type1">{{ m.member_name }}</a>
            </td>
            <td>{% if m.is_admin %}管理者{% endif %}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>

<script language="JavaScript">
    make_breadcrumbs(
        [
            ["メンバー","{{ url_for('members_all') }}"]
        ]
    );

    var member_page_url = "{{ url_for('members') }}";
</script>
{% endblock -%}
