{% extends "base_internal.html" %}

{% block title -%}
member(one)
{%- endblock %}


{% block body -%}
<h1>member(one)</h1>
member_id: {{ disp_member.member_id }}<br />
member_name: {{ disp_member.member_name }}<br />
is_admin: {{ disp_member.is_admin }}<br />
-- his --<br />
<table border="1">
    <tr>
        <th>book_name</th>
        <th>borrowed_dt</th>
        <th>returned_dt</th>
        <th>note</th>
    </tr>
    {% for h in histories -%}
    <tr>
        <td><a href="{{ url_for('book', book_id=h.book.book_id) }}">{{ h.book.book_name }}</a></td>
        <td>{{ h.borrowed_history.borrowed_dt }}</td>
        <td>{{ h.borrowed_history.returned_dt }}</td>
        <td>{{ h.borrowed_history.note }}</td>
    </tr>
    {% endfor -%}
</table>

{% endblock -%}
